@import "nullstyle.scss";

.footer{
	background: rgba(196, 196, 196, 0.6);
}
.footer__container {
	padding: 100px 0 0 0;
}
.footer__row {
	display: flex;
	margin: 0px -5px;
	flex-wrap:wrap;
}

.footer__element {
	padding: 0px 5px;
	flex: 0 1 25%;
}
.footer__element-2 {
	flex: 0 1 25%;
	@media (max-width: 997.98px) {
		flex: 0 1 33.333%;
	}
	@media (max-width: 513.98px) {
		flex: 0 1 100%;
	}
}
.footer__element-3 {
	flex: 0 1 25%;
	@media (max-width: 997.98px) {
		flex: 0 1 33.333%;
	}
	@media (max-width: 513.98px) {
		flex: 0 1 100%;
	}
}
.footer__element-4 {
	flex: 0 1 25%;
	@media (max-width: 997.98px) {
		flex: 0 1 33.333%;
	}
	@media (max-width: 513.98px) {
		flex: 0 1 100%;
	}
}
.footer__element-5{
	flex: 0 1 100%;
	.copyrights {
		margin: 60px 0 0 0;
		border-top: 1.5px solid #C4C4C4;
		.text{
			padding: 20px;
		}
	}
}
.footer__content {
	display: flex;
	flex-direction: column;
	@media (max-width: 513.98px) {
		flex: 0 1 100%;
		align-items: center;
	}
}
.footer__title{
	font-family: $fontFamily;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 150%;
}
.footer__sub-title{
	margin: 35px 15px;
	font-family: $fontFamily;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 200%;
	display: flex;
	flex-direction: column;
	
}

.footer__element-1 {
	flex: 0 1 25%;
	@media (max-width: 997.98px) {
		flex: 0 1 100%;
	}
	
}
.footer__logo{
	font-weight: 700;
	font-size: 24px;
	font-family: $fontFamily;
	color: $mainColor;
}

.footer__social{
	display: inline-flex;
}
.instagram__icon{
	fill: $mainColor;
	width: 40px;
	height: 40px;	
	margin: 0 20px 0 0;
	&:hover{
		fill: $darckColor;
	}
}
.twitter__icon{
	fill: $mainColor;
	width: 40px;
	height: 40px;	
	margin: 0 20px 0 0;
	&:hover{
		fill: $darckColor;
	}
}
.facebook__icon{
	fill: $mainColor;
	width: 40px;
	height: 40px;	
	margin: 0 20px 0 0;
	&:hover{
		fill: $darckColor;
	}
}
.footer__link{
	color: $darckColor;
}