// Файл обнуляющих стилей
@import "nullstyle.scss";
// Підключення шрифтів
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import "header.scss";
@import "footer.scss";

//-------------
.wrapper__public{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	font-family: $fontFamily;

}

.page__public{
	flex: 1 1 auto;
	width: 100%;
	padding: 85px  0;
	.skrynka__container {
		.skrynka__row {
			display: flex;
			flex-wrap: wrap;
			.block__element {
				flex: 0 1 50%;
				padding: 15px;
				.block__content {

					font-family: $fontFamily;
					font-style: normal;
					font-weight: 400;
					font-size: 24px;
					line-height: 29px;
					color: $darckColor;
					.title{
						font-style: normal;
						font-weight: 400;
						font-size: 76px;
						line-height: 93px;
					}
					.padding{
						margin: 0 0 15px 20px;
					}
					.email{
						display: flex;
						align-items: center;
						justify-content: flex-start;
						flex-direction: row;
						// .email__icon {

						// }
					}

				}
			}
			.block__element-1 {
				flex: 0 1 100%;
			}
			// .block__element-2 {
			// }
			// .block__element-3 {
			// }
		}
	}
	.body-second {
		margin: 15px 0 50px 0;
		position: relative;
		background-color: $mainColor;
		.body-zagl__container {
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 75px 15px;
			.body-zagl__text {
				font-family: $fontFamily;
				font-style: normal;
				font-weight: 600;
				font-size: 48px;
				line-height: 60px;
				text-transform: uppercase;
				color: $whiteColor;
			}
		}
	}
	.internet__container {
		.internet {
			.internet__row {
				display: flex;
				flex-wrap: wrap;
				.block__element {
					flex: 0 1 50%;
					.internet__content {
						padding: 0 15px 15px;
						font-style: normal;
						font-weight: 400;
						font-size: 20px;
						line-height: 24px;
						.title{
							font-weight: 500;
							font-size: 20px;
						}
						.icon-p{
							width: 100%;
							border-radius: 22px;
							filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
							-o-object-fit: cover;
							object-fit: cover;
							-o-object-position: center;
							object-position: center;
						}
					}
				}
				// .block__element-1 {
				// }
				// .block__element-2 {
				// }
				.block__element-3 {
					flex: 0 1 100%;
				}		
			}
		}
	}
	
	
	

	


}	
.akardion__container{
	padding: 3vh 0;
	.block{
		margin: 0 0 30px 0;
	}
	//.block__item{}
	.block__title{
		width: 100%;
		text-align: left;
		background-color: transparent;
		color: $darckColor;
		margin: 10px;
		position: relative;
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
	}
	.block-1 {
		.block__item{
			border-top: 1px solid #37DAD0;
			border-bottom: 1px solid #37DAD0;
		}
	}
	.block__text{
		padding:  10px 10px 0px 10px;
	}
	.block._init{
		.block__title{
			cursor: pointer;
			padding: 10px 40px 10px 10px;
			&:after,&:before{
				content: "";
				width: 40px;
				height: 1px;
				background-color: $darckColor;
				position: absolute;
				right: 10px;
				top: 2vh;
				transition: transform 0.3s ease 0s;
			}
			&:after{
				transform: rotate(-90deg);
			}
		}
		.block__title._active{
			&:after{
				transform: rotate(0deg);
			}
		}
	}
	.tablet{
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #37DAD0;
		padding: 10px 0;
	}
	.href-item{
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		color: $darckColor;
	}
	.pdf{
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
		color: $darckColor;
	}
}